mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  margin-top: 20px;
}

.title-column {
  display: flex;
  align-items: center;
  margin-right: 16px;
  height: 100%;
}

.select-column {
  display: flex;
  align-items: center;
  margin-right: 16px;
  height: 100%;
}

.location-column {
  text-align: center;
}

mat-form-field {
  width: 400px;
  background-color: white !important;
}
