<div class="top-container">
  <div>
    <h1>Template Listing</h1>
    <div class="form-group">
      <label for="subject">Select Subject</label>
      <select
        id="subject"
        name="subject"
        required
        [(ngModel)]="filters.subject"
        #subject="ngModel"
        (ngModelChange)="onFilterChange()"
      >
        <option value="">All</option>
        <option *ngFor="let subject of subjectOptions" [value]="subject.name">
          {{ subject.name }}
        </option>
      </select>
    </div>
  </div>
  <button>Add New Template</button>
</div>
<div class="searchbar">
  <input
    placeholder="Search"
    [(ngModel)]="filters.name"
    (ngModelChange)="onFilterChange()"
  />
</div>

<div class="display-templates">
  <app-display-templates [templates]="templates"></app-display-templates>
</div>
